<!-- 
/*
 * Copyright (C) 2012 The MaGDAA Project
 *
 * This file is part of the MaGDAA SAM Software
 *
 * MaGDAA SAM Software is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * This source code is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this source code; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.magdaaproject.sam"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />
    
    <!-- uses features -->
    <uses-feature android:required="true" android:name="android.hardware.location.gps"/>
    <uses-feature android:required="true" android:name="android.hardware.wifi"/>
    
    <!-- uses permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH"/> <!-- access IOIO -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- access IOIO -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- write files on external storage -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- derive the device id -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- derive the device id -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- geocode sensor readings -->
    
    <uses-permission android:name="org.servalproject.rhizome.ADD_FILE"/> <!-- add files to the Rhizome store for sharing -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/system_application_name"
        android:theme="@style/AppTheme" 
        android:allowBackup="false">
        <activity
            android:name=".LauncherActivity"
            android:label="@string/system_application_default_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".PreferencesActivity"
            android:label="@string/system_application_default_label"> 
        </activity>
        <activity 
            android:name=".ConfigManagerActivity"
            android:label="@string/system_application_default_label"> 
        </activity>
        <activity 
            android:name=".EventSurveysActivity"
            android:label="@string/system_application_default_label"> 
        </activity>
         <activity 
            android:name=".AudienceSurveysActivity"
            android:label="@string/system_application_default_label"> 
        </activity>
        <provider 
            android:enabled="true" 
            android:name=".content.ItemsContentProvider" 
            android:exported="false" 
            android:authorities="org.magdaaproject.sam.provider.items">
        </provider>
    </application>

</manifest>